html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  border: 2px solid red;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card--image {
  grid-area: image;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--image img {
  width: 100%;
  height: auto;
}

.card--title {
  grid-area: title;
  font-size: 4rem;
}

.card--description {
  grid-area: description;
}

.card--tags {
  grid-area: tags;
  margin-top: 2rem;
  font-size: 2rem;
}

.card--tags label {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-inline: 1rem;
}

.card--rating {
  font-size: 4rem;
  grid-area: rating;
}

.card {
  height: 100%;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: max(50px, 275px) 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "image title"
    "image description"
    "image tags"
    "image rating";
}

.card > * {
  font-family: "Courier New", Courier, monospace;
}

.movie-banner {
  height: max(50%, 600px);
  border-radius: 2rem;
  overflow: hidden;
  width: 75%;
  container: banner / inline-size;
  border: 1px solid green;

  /* 
    container-name: card;
    container-type: inline-size
  */
}

@container banner (max-width: 750px) {
  .card--image {
    display: flex;
    justify-content: center;
  }

  .card--image img {
    height: 100%;
    width: auto;
  }

  .card {
    background-color: #ff8888;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 225px 1fr 1fr 1fr;
    grid-template-areas:
      "image image"
      "title description"
      "title tags"
      "title rating";
  }

  .card .card--description {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}

@container banner (max-width: 500px) {
  .card--image {
    display: flex;
    justify-content: center;
  }

  .card--image img {
    height: 100%;
    width: auto;
  }

  .card {
    background-color: #88ff8c;
    grid-template-columns: 1fr;
    grid-template-rows: 225px 1fr 1fr 1fr;
    grid-template-areas:
      "image"
      "title"
      "description"
      "tags"
      "rating";
  }

  .card .card--rating {
    display: flex;
    justify-content: center;
  }
}

.content1000 {
  width: 1024px;
  border: 2px solid red;
}

.content750 {
  width: 750px;
  border: 2px solid yellow;
}

.content500 {
  width: 500px;
  border: 2px solid blue;
}
